<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{user-layout}">
<th:block layout:fragment="content">
    <div class="container">
        <div id="alert"></div>
        <form id="reset-password-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Thay đổi mật khẩu">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="re-password">Xác nhận</label>
                    <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Xác nhận mật khẩu">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            $("#reset-password-form").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "password": {
                        required: true,
                        minlength: 8
                    },
                    "re-password": {
                        equalTo: "#password",
                        minlength: 8
                        
                    }
                },
                messages: {
                    "password": {
                        required: "Hãy nhập mật khẩu",
                        minlength: "Hãy nhập ít nhất 8 ký tự"
                    },
                    "re-password": {
                        equalTo: "Hai mật khẩu không giống nhau",
                        minlength: "Hãy nhập ít nhất 8 ký tự"
                    }
                }
            });
        });
        let token = getUrlParams("code");
        $("#reset-password-form").submit(event=>{
            event.preventDefault();
            if(!$("#reset-password-form").valid()){
                return;
            }
            let password = $("#password").val();
            let data ={
                token: token,
                password
            };
            console.log(data);
            $.post({
                url:`${baseUrl}/api/v1/auth/reset-password`,
                data:JSON.stringify(data),
                dataType:'json',
                contentType: 'application/json'
            }).done(xhr=>{
                console.log(xhr);
                $("#alert").empty();
                $("#alert").append(`
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Cập nhật mật khẩu thành công
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                `)
            }).fail(xhr=>{
                console.log(xhr);
                $("#alert").empty();
                $("#alert").append(`
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                         Có lỗi xảy ra vui lòng thử lại sau!
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                `)
            })
        });
    </script>
</th:block>
</html>