<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p th:text="${'Thân gửi, '+ fullname }"></p>
<p th:text="${' Bạn đã đặt thành công đơn hàng: '+id}"> </p>
<p th:text="${' Tổng thành tiền đơn hàng của bạn là: '+totalPrice+'$'}"> </p>
<p>Đơn hàng này đã bao gồm cả phí vận chuyển</p>
<p>Hãy xác nhận đơn hàng để bắt đầu vận chuyển</p>
<h3><a th:href="${verifyUrl}" target="_self">XÁC NHẬN</a></h3>
<p>Xin chân thành cảm ơn</p><br>
</body>
